[2019-06-24 21:39] anweiss opened #1 "Improved validation error handling"
All errors are currently `Box`'ed with little actionable information. The library should provide for better error handling mechanisms for lexing, parsing and validation.

[2019-06-26 19:59] anweiss opened #2 "Package documentation"
Need to incorporate documentation comments in the source.

[2019-07-22 22:30] anweiss commented on #1
This has mostly been addressed. Further refinements will be made to the validation error reporting.

[2019-08-19 23:13] anweiss opened #4 "Track line number and column during lexing and parsing for improved error handling"
Incorporate position into the lexer and parser to provide users with more tangible error messages.

[2019-08-19 23:19] anweiss opened #5 "Compile to WebAssembly target"
Compile to WebAssembly target for use in the browser.

[2019-08-26 13:17] anweiss commented on #5
This is now being done. Site hosted at https://cddl.anweiss.tech

[2019-08-26 13:17] #5 closed

[2019-08-26 13:57] anweiss commented on #4
This is now being done. May need to fine tune, but working nonetheless.

[2019-08-26 13:57] #4 closed

[2019-09-17 21:56] anweiss opened #6 "Error tolerance"
Extend parser to be more error tolerant based on incomplete CDDL. This is required for implementing any sort of language server functions for IDE support.

[2019-10-09 20:35] anweiss commented on #6
Attempt to implement an incremental packrat parser per https://ohmlang.github.io/pubs/sle2017/incremental-packrat-parsing.pdf

[2020-02-25 04:37] rooooooooob opened #11 "Incorrect group choice parsing"
Take the following code as an example:

[code]

It seems to happen whenever a typename is used as the last field within a group choice.
It generates an Error return. However, even in the first example, `bar`, I think it is still incorrectly parsing, as it seems to consider it more equivalent to what `bar = {int, int int, tstr }` might be, although that in and of itself seems weird.

As per the RFC

[2020-02-25 21:39] anweiss commented on #11
Thanks for reporting @rooooooooob. Will dig into this and attempt to address.

[2020-02-26 01:10] SebastienGllmt commented on #11
Hey @anweiss thanks for offering to help! We'd love to help get this library working and used in production. Would you be able to get on contact with us? You can email me at sebastien [at] emurgo.io

[2020-02-27 03:59] anweiss commented on #11
Hey @SebastienGllmt, just shot you a note via email.

[2020-03-01 18:17] anweiss commented on #6
Rather than attempting to implement this from scratch, it's probably best to leverage something like [Tree-Sitter](http://tree-sitter.github.io/tree-sitter/). Will table this for now.

[2020-03-01 19:00] anweiss commented on #2
This has mostly been done. Closing.

[2020-03-01 19:00] #2 closed

[2020-03-01 19:38] #6 closed

[2020-03-02 16:33] anweiss opened #13 "Move tag lexing into the parser"
Tags are lexed, but should be parsed to address tagged data items with containing data types ... ABNF: `"#" "6" ["." uint] "(" S type S ")"`. At the moment, tags of this format aren't properly parsed.

[2020-03-02 23:31] anweiss opened #14 "Cleanup validation error handling"
Errors are only being handled one at a time and the line and column numbers are not properly tracked during parsing and error handling. Errors should be tolerated and the line and column numbers should correctly identify where the errors are being detected.

[2020-03-02 23:36] anweiss opened #15 "Complete CBOR validation implementation"
The CBOR validation function is incomplete. To the extent possible, CBOR validation should be properly implemented. Now that https://github.com/pyfisch/cbor/pull/172 has been merged, it should be possible to better implement CBOR validation.

[2020-03-02 23:39] anweiss opened #16 "Evaluate nom"
A v2 of this library would likely warrant a re-write using a more formal parser library, like [nom](https://github.com/Geal/nom). It would be interesting to compare the performance of nom vs. the handwritten implementation that exists today.

[2020-03-03 17:24] anweiss opened #17 "Reduce crate size"
Much of the size of this crate can be attributed to the `regex` crate dependency. Only the needed features of `regex` should be enabled per the instructions [here](https://docs.rs/regex/1.3.4/regex/#crate-features)

[2020-03-06 22:41] #13 closed

[2020-03-17 19:54] ericseppanen opened #25 "Array validation doesn't work for records"
Array validation doesn't seem to work as expected when the array contains a non-homogenous "record" (fixed length list using different types at different indices).

If I create the following CDDL:
[code]
I expect that this will only validate an input list with two elements [integer, string] in order.  However, the current code will successfully validate the following (incorrect) JSON inputs:
[code

[2020-03-17 20:23] anweiss commented on #25
Good catch thanks @ericseppanen. Will get a fix out for this

[2020-03-17 21:03] anweiss commented on #11
This should be fixed via #12. Closing.

[2020-03-17 21:03] #11 closed

[2020-03-18 14:36] anweiss commented on #25
@ericseppanen I see you've already been making the necessary changes. Feel free to push up a PR when you're ready. Cheers!

[2020-03-19 13:25] anweiss commented on #14
Parsing error handling has been improved via https://github.com/anweiss/cddl/pull/21. The validation error handling also needs to be cleaned up, so will keep this open to account for those changes.

[2020-03-21 16:42] anweiss commented on #17
Addressed by #32. Closing.

[2020-03-21 16:42] #17 closed

[2020-03-23 17:02] anweiss opened #36 "Refactor validation logic"
The validation logic is incredibly confusing to new contributors. The first attempt was really just to get things working, but the resulting code is less than ideal. This issue aims to track all activities related to refactoring this logic to make it much more readable.

[2020-03-30 18:29] anweiss opened #37 "Table type member key parsing not working"
Member keys of table types are not properly parsed. For example: `{ ? [ test ]: tstr, }`

[2020-04-03 18:57] ericseppanen opened #40 "Please release with annotate-snippets dependency fix"
I can't build packages that depend on cddl from crates.io, because the annotate-snippets dependency no longer works.

Can you push a new release?

[2020-04-03 21:46] ericseppanen opened #41 "Choice operator not parsed correctly in 0.5.2"
The parsing of CDDL input `foo = (int / float)` changed in release 0.5.2.  The choice operator no longer seems to work as intended.

Reading through the rfc, the only place the `/` operator is allowed is here:
[code]
So I would expect the resulting ast to contain a `Type` with two `Type1` elements in `type_choices`.  This is what I see in 0.5.1.

In 0.5.2 I am seeing something different: a `Group`

[2020-04-04 19:20] anweiss commented on #41
hey @ericseppanen ... I just cut a `0.5.3` release that should fix this and some other issues that were occurring with inline groups, nested groups and parenthesized types. Let me know if that release is still causing you problems. Cheers!

[2020-04-04 19:26] anweiss commented on #40
`0.5.3` has been pushed which fixes the issue with the `annotate-snippets` dep

[2020-04-04 19:26] #40 closed

[2020-04-06 00:36] ericseppanen commented on #41
The same problem exists with 0.5.3.

If you dump the ast for the cddl input `"thing = (int / float)"`, and then try replacing the slash with a comma, you will see that the two outputs are basically identical.

[2020-04-06 00:38] anweiss commented on #41
Hmm, ok. Let me see what I can do to fix it. I think I know where the problem is

[2020-04-06 17:19] anweiss commented on #41
@ericseppanen `0.5.4` has been published and should address this issue. Thanks for reporting.

[2020-04-06 17:32] ericseppanen commented on #41
I verified that `0.5.4` works for me.

[2020-04-06 17:32] #41 closed

[2020-04-06 18:22] anweiss commented on #37
This should be fixed as of `0.5.4`. Closing.

[2020-04-06 18:22] #37 closed

[2020-04-16 21:13] anweiss opened #49 "VSCode LSP extension"
Create a language server extension for VSCode built on the wasm package. Prototype being developed in the [`lsp`](https://github.com/anweiss/cddl/tree/lsp) branch.

[2020-04-22 18:31] anweiss commented on #49
The following features should be implemented for the first cut at this:

- Intellisense for standard prelude and control operators
- Intellisense for group and type rule identifiers
- Syntax highlighting
- Basic go to definition for rules
- Basic diagnostics

Subsequent releases should include support for:

- Built-in JSON document validation
- Go to definition for choice sockets/plugs defined in

[2020-05-07 20:36] anweiss commented on #49
@SebastienGllmt FYI, a preview of the extension has been published to the VSCode Marketplace -> https://marketplace.visualstudio.com/items?itemName=anweiss.cddl-languageserver.

[2020-05-07 20:41] anweiss opened #51 "Syntax highlighting for numbers needs to be adjusted"
Numbers that are part of an identifier with a hyphen `-` are being mistakenly highlighted ... e.g. in `blake2b-256`, the `256` is highlighted.

[2020-05-08 20:40] #51 closed

[2020-05-11 21:48] anweiss opened #55 "Comment formatting bugs"
There's some odd formatting behavior with comments after trailing commas in member key group entries.

[2020-05-14 18:48] anweiss commented on #55
#56 addresses a number of items. But will keep this open since there is likely still some odd formatting behavior based on inputs I have yet to try.

[2020-06-22 16:07] anweiss commented on #55
Line breaks are not being inserted after trailing comments and before a closing delimiter, thus causing the closing delimiter to be hoisted on to the same line as the trailing comment.

[2020-08-20 20:45] anweiss opened #60 "Implement visitor pattern for walking AST"
To support #36 and provide a foundation for both JSON/CBOR validation and JSON (and JSON schema) generation, a visitor pattern should be implemented for walking the CDDL AST.

[2020-09-12 19:15] anweiss opened #62 "Invalid control operator should return an error"
If an invalid control operator is specified, the parser is not properly reporting it and instead reports an invalid rule failure.

[2020-10-18 20:27] anweiss commented on #36
Mostly addressed by #61. Closing

[2020-10-18 20:27] #36 closed

[2020-10-18 20:27] anweiss commented on #25
#61 fixes this issue.

[2020-10-18 20:27] #25 closed

[2020-10-18 20:27] anweiss commented on #15
#61 addresses this.

[2020-10-18 20:27] #15 closed

[2020-10-18 20:27] anweiss commented on #14
#61 improves validation error handling.

[2020-10-18 20:27] #14 closed

[2020-10-18 20:27] anweiss commented on #60
Implemented by #61.

[2020-10-18 20:27] #60 closed

[2020-10-22 18:54] jonnycrunch opened #65 "unwrapping doesn't work as expected"
I'm getting conflicting results of 'valid' cddl from the [gem](https://rubygems.org/gems/cddl/versions/0.8.8) implementation of cddl and this one.   The following example fails to validate using your rust CDDL tool but does using the gem tool. The following CDDL is used to validate a JSON-LD document where the value of the `@context` is either a sting or an array of items where the first item as s

[2020-10-22 19:26] anweiss commented on #65
Thanks for reporting @jonnycrunch. This is actually not yet implemented :) Will clarify this in the README and get this implemented.

[2020-10-26 19:21] anweiss commented on #65
Hey @jonnycrunch, would you be able to share links to the complete CDDL and sample JSON-LD document you're attempting to validate? Thanks!

[2020-10-26 20:06] jonnycrunch commented on #65
@anweiss sure.  I am working on the Decentralized Identifiers spec [here](https://github.com/w3c/did-spec-registries/pull/138).  All examples are [here](https://ipfs.io/ipfs/Qmc9Zf5WigJQ7gcxHqpZZDcwMpFur5c5fSEhSykmWipPUH).  Any help validating my approach with CDDL is welcome!   Thanks!

[2020-10-26 20:08] anweiss commented on #65
Oh awesome! I've actually happen to have taken a keen interest in DID and SSIs as of late so this is perfect! Will review and get some tests going based on these examples.

[2020-10-28 14:03] #65 closed

[2020-10-28 15:31] anweiss opened #67 "Regex escaping and syntax issues"
This crate relies on the [regex](https://crates.io/crates/regex) crate for parsing regex in CDDL. However, it only supports PCRE-_like_ regex and doesn't require escaping of certain special characters. The parsed regex strings from CDDL should therefore be updated for proper parsing by the [regex](https://crates.io/crates/regex) crate.

Named capture groups should also be prepended with a `P` as f

[2020-10-28 15:36] anweiss commented on #67
The following special characters from CDDL regex should be unescaped after reading from a CDDL document: `:`, `%`, `_`, `/`, `=`.

[2020-10-29 14:26] anweiss commented on #67
[`is_meta_character`](https://docs.rs/regex-syntax/0.6.20/regex_syntax/fn.is_meta_character.html) looks to have the character literals that don't require escaping.

[2020-11-02 17:38] anweiss commented on #67
This was resolved by #68. Closing

[2020-11-02 17:38] #67 closed

[2020-11-09 16:48] anweiss opened #72 "Add support for CBOR Sequences"
Add support for [RFC 8742 CBOR Sequences](https://tools.ietf.org/html/rfc8742).

[2020-11-13 17:18] anweiss commented on #72
Addressed via #73

[2020-11-13 17:18] #72 closed

[2020-11-13 17:18] anweiss opened #75 "Add support for the .bits control operator"
Add support for the .bits control operator

[2020-11-17 17:01] anweiss commented on #75
Implemented via #74.

[2020-11-17 17:01] #75 closed

[2020-11-17 19:59] anweiss opened #76 "Unprefixed byte strings with whitespace not being lexed properly"
Lexer doesn't support multiline, unprefixed byte strings.

[2020-11-20 15:14] yaronf opened #77 "Files with no suffix are silently ignored"
Unknown suffixes (not `cbor` or `json`) are recognized and there's a correct error message.

Seen on MacOS.

[2020-11-30 02:08] anweiss commented on #77
Thanks for reporting @yaronf. Will take a look

[2020-12-04 22:03] anweiss commented on #77
@yaronf this has been fixed as of [`0.8.5`](https://github.com/anweiss/cddl/releases/tag/0.8.5). Please re-open if you're still encountering issues.

[2020-12-04 22:40] yaronf commented on #77
No, sorry. Retested with 0.8.5 on MacOS.

[code]

[2020-12-07 14:42] anweiss commented on #76
This has been fixed.

[2020-12-07 14:42] #76 closed

[2020-12-07 14:48] anweiss commented on #77
Hey @yaronf, could you describe the behavior you're expecting? Based on your examples, your file "sample.cbor" is invalid since it has trailing data which is treated as an error. What type of file is "sample.xx"? Is "sample" a directory"

At the moment, the tool only supports parsing files that have either the ".json" or ".cbor" extension. It does not yet support glob matches of files to validate

[2020-12-07 16:33] yaronf commented on #77
`sample.cbor`, `sample.xx` and `sample` are all copies of the same file, a few bytes of binary data. So, not a directory.

The code apparently assumes that all files have a suffix, which is not the case here.

[2020-12-07 19:02] anweiss commented on #77
Gotcha. So the way I do it for files passed via `stdin` as that I'm simply checking to see if it's valid UTF-8, in which case, attempt to validate as JSON, otherwise, validate as CBOR. I can implement the same approach for files that don't have an explicit extension. Let me know if that would work for your use case?

[2020-12-07 20:54] yaronf commented on #77
Frankly, it's not even a use case - I can easily rename the file. It's a bug, because it took me some time to realize the program is doing nothing although the command line is seemingly correct.

So either option would work fine: rejecting files with no extension or the solution you propose.

[2020-12-07 21:02] anweiss commented on #77
Yea, I'll definitely make this more clear in the docs. Will get a solution in place too.

[2020-12-09 23:40] d3zd3z opened #80 "CDDL parsing fails with carefully placed newline."
In the following block of CDDL:

[code]

The first `top-group` declaration cause a parse error. It seems to require both using an identifier as the key, and having the newline after the arrow. It is easy to work around by either moving the arrow to the new line, or just joining the lines.

[code]

[2020-12-11 20:45] anweiss commented on #80
Thanks for reporting @d3zd3z. Will get this fixed!

[2021-01-16 00:47] adzialocha opened #82 "`tstr` type allows maps?"
Thank you for this fantastic implementation of CDDL! :sparkles:

I've stumbled upon the following issue and wonder if it might be a bug?
The following CDDL schema (wrongly?) allows maps as values in the `fields` map even though only `tstr` types are permitted:

[code]

This CBOR here (with diagnostic JSON) gets accepted by this schema while I would expect an error:

[code]

[code]

[2021-01-17 00:30] adzialocha opened #83 "WebAssembly bindings for validator"
What is the reason the `validator` module is not exported for wasm targets? What would be required to enable that functionality or is it not possible at all?

Thank you!

[2021-01-17 17:34] yaronf opened #84 "Mandatory map fields not enforced?"
I have this CBOR (diag notation):

`{1: 65535, 2: h'1122334455', 3: 6, }`

It validates successfully with this CDDL:

[code]

According to @cabo my CDDL is incorrect because it translates to textual, rather than integer, map keys, e.g. `"K_NONCE"` and not 5. My file is accepted because of the "extensions" line. However it should have failed validation anyway, because the first two fields (`K_KEY_P

[2021-01-17 18:15] yaronf commented on #84
Closing: not a bug. I corrected the CDDL to:

[code]

And everything works fine, including detection of mandatory fields.

[2021-01-17 18:56] cabo commented on #84
The initial instance still should not validate with the initial CDDL, as the mandatory members are not present:

        K_KEY_PROVIDER: uint,
        K_KEY_ID: bstr,

(The rest of the behavior is fine, as Yaron mentioned.)

[2021-01-17 18:57] cabo commented on #84
(hmm, can't reopen the issue.)

[2021-01-25 17:32] anweiss commented on #82
Good catch, thanks for reporting @adzialocha! Fixing in #85.

[2021-01-25 17:53] anweiss commented on #83
Hey @adzialocha. No reason other than just simply enabling this functionality. Will work on getting this enabled if there's interest.

[2021-01-25 17:54] #49 closed

[2021-01-25 17:54] anweiss commented on #49
This is now available.

[2021-01-25 17:58] #80 closed

[2021-01-25 18:00] adzialocha commented on #82
Thank you for this fast fix!

[2021-01-25 22:36] anweiss commented on #82
This has been fixed as of [v0.8.6](https://github.com/anweiss/cddl/releases/tag/0.8.6)

[2021-01-25 22:36] anweiss commented on #80
This has been fixed as of [v0.8.6](https://github.com/anweiss/cddl/releases/tag/0.8.6). Pleas reopen if you are still experiencing issues.

[2021-01-25 22:44] anweiss commented on #84
Per https://github.com/anweiss/cddl/issues/84#issuecomment-761861644, this is indeed still a bug. Will fix.

[2021-01-27 21:16] yaronf commented on #84
Sorry, you didn't include any test cases in the PR, and I'm unable to generate any cases where the behavior is changed for the CBOR above and various variants. Specifically, the mandatory members *are* actually present in the CBOR at the top of this issue. Could you please include an example?

[2021-01-27 21:24] anweiss commented on #84
@yaronf my apologies. Merging the PR auto closed the issue. This will be introduced into v0.8.7 of the CLI. Will update the docs and release notes.

[code]

should now validate the following:

[code]

and this will now be denoted as invalid:

[code]

The colon shortcut notation validates the map keys based on their text representation. When used with the double arrow notation, the keys are resolve

[2021-01-27 22:53] yaronf commented on #84
Yes, thank you. Agree. Though I had to read the RFC and two of its appendices quite thoroughly to get myself convinced. (Also IMHO this "syntactic sugar" is more pain than it's worth.)

[2021-01-27 23:09] anweiss commented on #84
lol, yea I can't tell you how many times I've read through the RFC since I started this project a few years ago and I STILL misinterpret something.

[2021-01-27 23:59] cabo commented on #84
On 2021-01-27, at 23:54, Yaron Sheffer <notifications@github.com> wrote:

This ticket may not be the place to argue that, but I’d say: It depends.

For your typical JSON spec, it does make a difference in the noise factor.
See https://tools.ietf.org/html/rfc8610#appendix-H for an example.

For specs with CBOR integer labels like the one we are discussing here, it is indeed another thing that one n

[2021-02-13 21:19] adzialocha commented on #82
This might still be a problem @anweiss as maps are still considered valid strings in this test using version `v0.8.6.`. Maybe we're doing something wrong with the schema, but just to be sure I'm posting this here as well:

[code]

[2021-02-13 21:23] adzialocha commented on #83
Ok cool! Thank you! There is no urgent need for us yet but we're integrating CDDL in our p2p protocol schema validation (https://github.com/p2panda) for messages and would like to offer all functionality both in Rust but also wasm (JavaScript) contexts at one point so of course it would be amazing to have full support for all features on both platforms :smiley_cat:

Happy to make a PR for this as

[2021-02-13 22:27] anweiss commented on #82
Hmmm ... I think you're right. Reopening to do some more troubleshooting here. Thanks for reporting.

[2021-03-01 04:56] sargun opened #87 "Example of invalid spec passing"
[code]

The contents:

[code]

The part that's "dwadawda" is invalid.

[2021-03-08 17:11] anweiss commented on #87
Thanks for reporting @sargun!

[2021-03-09 10:36] JKRhb opened #88 "Using .default with another control operator or a range does not work"
When I try to define a port number field like so:

[code]

or like so

[code]

I get an error when I try to validate the following JSON object:

[code]

The error I get looks something like this:

[code]

Using the example for `.default` and another control operator [from the specification](https://tools.ietf.org/html/rfc8610#section-3.8.6) actually also fails.

[2021-03-09 16:51] anweiss commented on #87
@cabo, correct me if I'm wrong, but technically, the `dwadawda` is not invalid, but merely a group entry built from a not-yet-defined `dwadawda` named group. Granted, one would still consider this spec invalid from a readability standpoint pursuant to RFC 8160 Section 3.1:

[2021-03-09 17:06] cabo commented on #87
[code]

[2021-03-09 17:09] cabo commented on #87
Yes, the parsing may have some surprises, but I agree with @anweiss' diagnosis, except that an rule name that is not defined actually is an error except for a socket.

[2021-03-09 17:19] cabo commented on #87
Time for the obfuscated cddl contest :-)

[2021-03-09 17:25] anweiss commented on #88
Thanks for reporting @JKRhb

[2021-07-26 19:09] cafca commented on #83
Second this!

[2021-08-23 22:09] anweiss commented on #88
hey @JKRhb, I'm finally getting around to addressing this. I've got a fix in place for your first example:

[code]

However, your second example uses invalid syntax. The range needs to be in parenthesis like below otherwise there's ambiguity when parsing the entry.

[code]

Nonetheless, the fix has been included as part of https://github.com/anweiss/cddl/pull/79

[2021-08-23 23:01] JKRhb commented on #88
Great! Thank you for the fix and for pointing out the syntax error :)

[2021-08-30 13:19] Anrock opened #90 "Validation always fails for CBOR with non-standard simple values"
Seems like cddl is unable to validate any CBOR binary that uses non-standard simple values, instead producing
[code]
 As far as I understand this is due to [serde_cbor intentionally producing parser error](https://github.com/pyfisch/cbor/blob/master/src/lib.rs#L303) when it encounters any simple value it doesn't understand.

Is there any workaround for that or the fix would be to replace serde_cbo

[2021-08-30 14:14] anweiss commented on #90
hey @Anrock, thanks for highlighting this. Indeed, this is due to error in the `serde_cbor` library as you indicated. Given that https://github.com/pyfisch/cbor is now archived and no longer being maintained, I plan to replace it with a different library.

[2021-08-30 14:15] anweiss opened #91 "Replace serde_cbor"
Given that https://github.com/pyfisch/cbor has been archived and is no longer being maintained, and due to issues such as #90, this issue will ensure a proper CBOR replacement library is implemented.

[2021-08-30 14:18] anweiss opened #92 "Implement proposed control operators"
Implement the additional proposed control operators for CDDL per https://datatracker.ietf.org/doc/html/draft-ietf-cbor-cddl-control-05. Working being tracked in #79. CC @cabo

[2021-08-31 22:03] anweiss commented on #1
Re-opening as the library could use a re-write of the error handling mechanisms for both parsing and validation. Will likely leverage [thiserror](https://github.com/dtolnay/thiserror).

[2021-09-01 21:18] anweiss commented on #1
Decided on https://github.com/yaahc/displaydoc due to its support for `no_std`.

[2021-09-03 17:05] anweiss commented on #83
This is now being implemented in #79

[2021-09-03 20:02] adzialocha commented on #83
This is fantastic! Thank you! 🌟

[2021-09-10 19:37] anweiss commented on #77
@yaronf FWIW, this issue is being fixed in #79, which includes a rework of the CLI to allow users to explicitly list the JSON and/or CBOR files they want to validate, without the need to use a specific file extension

[2021-09-13 18:23] anweiss commented on #82
Hey @adzialocha this is (finally) being fixed in #79

[2021-09-13 18:41] #82 closed

[2021-09-13 19:51] anweiss commented on #92
These have been implemented in preview as of [0.9.0-beta.0](https://github.com/anweiss/cddl/releases/tag/0.9.0-beta.0)

[2021-09-13 19:57] anweiss commented on #77
@yaronf feel free to give this a whirl in the [0.9.0-beta.0](https://github.com/anweiss/cddl/releases/tag/0.9.0-beta.0) version of the binaries that were just published.

[2021-09-13 21:52] anweiss commented on #87
@sargun FYI this is (finally) being fixed in #93 per @cabo's [comment](https://github.com/anweiss/cddl/issues/87#issuecomment-794175377)

[2021-09-13 21:55] anweiss commented on #88
This has been fixed as of #79 and [0.9.0-beta.0](https://github.com/anweiss/cddl/releases/tag/0.9.0-beta.0). Closing

[2021-09-13 21:55] #88 closed

[2021-09-14 20:23] #87 closed

[2021-10-04 16:48] anweiss opened #97 "JSON data faker"
Implement a JSON data faker from CDDL

[2021-10-04 18:46] anweiss commented on #62
This has been fixed. Closing

[2021-10-04 18:46] #62 closed

[2021-10-04 19:52] anweiss commented on #91
Will need to wait for https://github.com/enarx/ciborium/issues/22 to publish a new version of this crate with ciborium.

[2021-10-05 15:25] itamarst opened #98 "Is the warning in README still valid?"
Hi,

Thanks for publishing this crate!

I'm investigating CDDL validation for Python. Lacking an existing library in Python, wrapping a safe implementation in Rust seems like a much better approach than C/C++,  and your library came up. The README has a caveat ("personal learning exercise" etc.), but:

1. You still seem to be actively working on this, and sounds like trying to get to 1.0?
2. The o

[2021-10-06 16:40] anweiss commented on #98
Great question @itamarst! My original intent for the warning was more of a "catch-all"  to point folks to potential alternative libraries when I began working on this a few years ago. However, at this point, and as you mentioned, I am indeed trying to get this to a stable 1.0 release and plan to remove the warning soon.

While https://github.com/ericseppanen/cddl-cat may not have as many features

[2021-10-06 17:40] itamarst commented on #98
Thank you!

[2021-10-06 18:37] itamarst opened #101 "Validating JSON document when schema has bytes"
Hi,

Continuing investigation of `cddl`—support for same schema with both JSON and CBOR is great, but there's the problem of bytes. The CDDL RFC says "don't support bytes in schema language", which OK, that's an approach. But another alternative is to say "if schema says bytes, expectation is that in JSON document this will be base64-encoded bytes in a string." And then you could validate JSON doc

[2021-11-09 16:54] itamarst opened #103 "Problems with `serde_json` dependency"
Hi,

I'm wrapping your library for Python, and initial setup failed to build:

[code]

I imagine this is a missing feature flag in the `serde_json` dependency in `Cargo.toml`. I can workaround it locally by explicitly adding `serde_json` as a dependency, but I assume this is something that will impact other people.

[2021-11-09 18:03] itamarst opened #104 "Lifetime on CDDL struct is annoying"
I am wrapping the library with Python, using PyO3. PyO3's macros for wrapping classes aren't happy with having a lifetime parameter, so having a `CDDL` attribute is difficult (I don't want to parse the schema from scratch each time I validate a document).

More broadly, having a lifetime identifier on the `CDDL` struct just makes using it annoying since it percolates to everything.

I am very much

[2021-11-09 18:16] itamarst opened #105 "Nicer API for repeat validation"
A common pattern is to use the same schema to validate multiple documents. In the current API, this requires a bunch of work involving the innards of the implementation:

1. Create a lexer.
2. Create a parser.
3. For each document to be parsed, create a validator, since validators are single-shot.

A nicer API would be something like:

[code]

[2021-11-10 18:34] itamarst opened #106 "Bug (probably): unspecified types aren't errors"
Consider the following schema:

[code]

The `reputon` type is never defined, and yet the validation code seems perfectly happy with the following document:

[code]

If this is invalid behavior, great, that can just be fixed.

But perhaps this is valid according to the RFC, and if so that's a very bad feature in a schema language, because a typo in a type name means validation suddenly doesn't happ

[2021-11-12 18:44] anweiss commented on #103
hey @itamarst, how are you including the `cddl` crate as a dependency in your `Cargo.toml`? The `serde_json` dependency is included when you compile the `cddl` crate using the default features.

[2021-11-17 15:45] anweiss commented on #103
Thanks @itamarst. Indeed, it looks like with the new default `resolver = "2"` behavior in the 2021 edition, the build will fail unless you explicitly declare the `serde_json` dependency with the `std` feature as you have done. This is an easy fix on my end. Will push shortly.

[2021-11-17 15:47] #103 closed

[2021-11-17 15:52] anweiss commented on #104
This is due to the fact that one of my original goals for the project was to implement this in as close to a zero-copy way as possible given CBOR's (and presumably CDDL's) use in constrained computing environments. I assume you're compiling to t the WASM target? If so, I can just created owned versions of these structs which are used when targeting WASM. Would that work?

[2021-11-17 15:53] anweiss commented on #105
Agreed. I was mostly focused on implementation and less so on the API. Will clean this up.

[2021-11-17 15:56] anweiss commented on #106
Indeed, I would interpret this as an _invalid_ JSON document against that schema because the `reputons` property exists and as such needs to be either an empty array or an array of `reputon`'s. Will investigate.

[2021-11-26 13:06] Anrock commented on #91
@anweiss blocker seem to be resolved, time for new version?

[2021-11-29 10:49] Anrock commented on #90
@anweiss not sure if it's fixed with ciborium. I just compiled @8d398daf and tried to validate same cbor against cddl spec and got
[code]

[2021-11-29 15:16] anweiss commented on #90
hey @Anrock, can you provide the CDDL you are using that is causing this error?

[2021-11-29 18:19] Anrock commented on #90
@anweiss I don't think it's the CDDL itself but a cbor binary. Minimal repro should be just a `simple` value from unassigned range, like 40 or 41 (CDDL `#7.40` or `#7.41`). I'll try to get minimal repro tomorrow.

[2021-11-30 09:55] Anrock commented on #90
@anweiss okay, I got minimal repro.

cddl: `root = #7.32`

cbor: `f820`.

I don't think I can attach a binary file in github, but you can easily create it via `echo f820 | xxd -p -r > min.cbor`

Then running `./cddl validate --cddl min.cddl --cbor min.cbor` will produce
[code]

[2022-02-21 12:08] chrysn opened #108 ".feature not active in the online validator"
The CDDL of [the core-href draft](https://datatracker.ietf.org/doc/html/draft-ietf-core-href-09) currently does not validate in the online service unless the `.feature` is removed. Same goes for the `JC<>` example.

Docs say that .feature is supported and on by default; it appears that it is not on [on the web service](https://cddl.anweiss.tech/) because it gives errors like:

Could that be enable

[2022-03-23 20:35] anweiss commented on #108
This has been fixed

[2022-03-23 20:35] #108 closed

[2022-03-23 20:37] anweiss commented on #91
@Anrock [0.9.0-beta.1](https://github.com/anweiss/cddl/releases/tag/0.9.0-beta.1) has been published. Closing.

[2022-03-23 20:37] #91 closed

[2022-03-23 20:39] anweiss commented on #77
Closing. Please re-open if this is still an issue.

[2022-03-23 20:44] anweiss commented on #92
These should be fully implemented as of [0.9.0-beta.1](https://github.com/anweiss/cddl/releases/tag/0.9.0-beta.1) and based on [RFC 9165](https://datatracker.ietf.org/doc/html/rfc9165)

[2022-03-23 20:46] anweiss commented on #106
This should be fixed as of [0.9.0-beta.1](https://github.com/anweiss/cddl/releases/tag/0.9.0-beta.1). Please re-open if this is still an issue.

[2022-03-23 20:46] #106 closed

[2022-03-24 17:20] itamarst opened #114 "New beta1 panics when previous version didn't"
One of my tests for the validator involves passing in an empty slice (originating in a Python byte string).

In 0.9.0beta0, this gave a validation error.

In beta1, it panics:

[code]

In general I would suggest never using `unwrap()` or `expect()` in library APIs unless it's utterly impossible to avoid, since panics are very problematic for library users.

[2022-03-24 17:27] itamarst commented on #106
This fixed the problem for me when I tested latest version. Thank you!

[2022-03-24 17:28] anweiss commented on #114
Thanks. Oversight on my part. Will fix.

[2022-03-24 17:30] itamarst commented on #114
Thank you!

[2022-03-31 23:55] itamarst commented on #104
1. Given #105, mostly I just care about `CDDL` not having a livetime.
2. I can't really think of any use case for non-owning `CDDL`, so I would just design it to always own the schema bytes, and then you don't have two variants, you just have one. However, I am not really familiar with `no_std` world much, so maybe it makes sense there?
3. If you really want to support both, maybe `Cow` would do t

[2022-03-31 23:55] itamarst commented on #104
Oh, `Cow` has a lifetime too. Bleh.

[2022-04-15 08:46] tomachristian opened #116 "CBOR validation for type choice in array"
Using the latest version at this point in time: `0.9.0-beta.1`.

I am having a problem with validating CBOR `[18]` (hex: `9F12FF` - regardless of definite/indefinite array) against CDDL `tester = [18/12]` which should be valid.

But I am getting:
[code]

and validating CBOR `[12]` (hex: `9F0CFF`) against the same CDDL also yields:

[code]

but validating CBOR `[12]` and `[18]` against CDDL `tester

[2022-04-15 13:55] anweiss commented on #116
Thanks for reporting @tomachristian! Indeed this is a bug as I have repro'd on my end. Will take a look at this.

[2022-04-15 15:35] #114 closed

[2022-04-15 15:39] anweiss commented on #104
Yea, gonna move this to a Discussion and gauge interest for now. It's unclear, even to me, what the embedded/`no_std` folks actually require from this crate.

[2022-04-15 15:43] anweiss commented on #116
@tomachristian fixed in #117 and will be included in the `0.9.0` release.

[2022-04-15 15:46] tomachristian commented on #116
Thank you @anweiss! I will have a try on it. I have quite a large protocol described with lots of CDDL and I am currently using the "official" gem for validating CDDL (the one mentioned from the spec), but it has lots of bugs and is outdated... I really really want to use your validator instead, so I will have another try with it, would you mind if I come back with other bugs? :)

[2022-04-15 15:48] anweiss commented on #116
Sounds great!! Yes, no problem at all. The more feedback and bug reports, the better. I've been maintaining this crate myself for a few years now and only recently has there been more traction with CDDL, and thus, this crate has garnered more interest from folks in the community.

[2022-04-15 15:49] tomachristian commented on #116
CBOR is getting traction, so I think that is why CDDL is recently getting the same as well

[2022-04-15 15:49] anweiss commented on #105
Cleaned up in #115. Please re-open for any additional API improvement requests.

[2022-04-15 15:49] #105 closed

[2022-04-15 16:02] anweiss commented on #1
@tomachristian would love your input on how I can improve the error handling mechanisms in the validator. Some of this is still dependent on the [ratification of JSONPath](https://datatracker.ietf.org/doc/draft-ietf-jsonpath-base/) as a formal standard. It would also be good to get some of the community's input on how CDDL should be traversed for solid error reporting.

[2022-04-15 16:17] cabo commented on #1
Which kinds of errors are you looking at?

- invalid CDDL (parse errors, group/type errors, ...)?
- validation failures (input does not match CDDL grammar)?

Right now, I'm very interested in the latter.
The obvious implementation of validation leaves you with little clues ("Kernighan's  car" -- just like a Prolog program that simply says "no"...).
So how can the information about which paths were

[2022-04-15 16:25] anweiss commented on #1
Thanks @cabo. Interested in the validation failures specifically. And yea, at the moment, this crate is just presenting all of the failures in the case of type choices where none of the options are valid. It would be good to have some sort of JSONPath-like mechanism for pin-pointing where in the CDDL the validation failure occurred.

[2022-04-16 05:34] tomachristian commented on #116
Hello @anweiss!

I checked the fix and it works for the specific scenario outlined above, but there are still problems with CDDL

[code]
_(Also tried without `tester=[$vals]`, just with `tester=$vals` to same effect (of course I updated the CBOR as well by stripping out the array begin/end)_

against the same input CBOR as above. The error message is similar to the previous one:

[code]

So I woul

[2022-04-16 05:55] tomachristian opened #120 "Group choices parsing error"
[code]
gives a `error parsing CDDL: incremental parsing error`, also
[code]
gives a `error parsing CDDL: incremental parsing error`
[code]
works (although unable to validate due to https://github.com/anweiss/cddl/issues/116#issuecomment-1100578210).

If I read the specification correctly, a `type` should be able to be coerced into a `group` (with one `grpent`) during semantic analysis and/or durin

[2022-04-18 15:56] anweiss commented on #120
Good catch @tomachristian. Will fix.

[2022-04-18 17:27] anweiss commented on #116
Also a bug. Will fix.

[2022-04-22 09:18] thomas-fossati opened #122 "`.and` operator not fully supported?"
I have this CDDL snippet:

[code]

which produces this error:

[code]

It looks like `.and` is not fully supported?

[2022-05-13 01:41] hatzka-nezumi opened #123 "Formatting inserts a blank line after each comment unconditionally"
With repeated formatting, this:

[code]

becomes this:

[code]

and then this:

[code]

and so on.

[2022-05-13 14:02] anweiss commented on #120
Still some issues per https://github.com/anweiss/cddl/pull/121#issuecomment-1109507486.

[2022-05-13 14:03] anweiss commented on #123
Thanks @na-sa-do. Indeed, this is a known issue per https://github.com/anweiss/cddl/issues/55. Formatting in general is still a WIP.

[2022-05-26 17:21] anweiss commented on #122
Hmmm, thanks for reporting @thomas-fossati. It should be supported but it may be the way in which the crate is being compiled for the container image. Will take a look.

[2022-06-15 07:11] roman-kashitsyn opened #126 ".size control produces unexpected errors"
The [CDDL spec](https://datatracker.ietf.org/doc/html/rfc8610#section-3.8.1) says:

   the range of that integer by giving a maximum number of bytes that
   should be needed in a computer representation of that unsigned
   integer.  In other words, "uint .size N" is equivalent to
   "0...BYTES_N", where BYTES_N == 256**N.

Using version `0.9.0-beta.1`:

The contents of `size.cddl`
[code]

[code]

[2022-06-27 18:13] anweiss commented on #126
Fixed in #127

[2022-06-30 17:34] itamarst opened #128 "Occurence support in objects doesn't support max values"
It is my understanding (and I may be misinterpreting the spec) that I can say "this object can have up to 3 string keys" with the following syntax variations:

[code]

or

[code]

If I try to validate the following:

[code]

the CLI (0.9.0-beta1) fails with `[ERROR] Validation of "onekey.json" failed: error validating at the root of the JSON document: expecting object value of type tstr, got objec

[2022-09-12 15:20] #116 closed

[2022-09-12 15:20] #120 closed

[2022-09-12 15:27] #126 closed

[2022-09-21 21:32] anweiss commented on #128
Thanks for reporting @itamarst. This is being fixed in #138. This was never actually implemented for whatever reason.

[2022-09-26 18:49] anweiss commented on #128
Implemented in #138. Closing

[2022-09-26 18:49] #128 closed

[2022-09-30 07:29] whimboo opened #139 "Validation of optional fields referring to choices inappropriately fails"
Trying to validate the following JSON file against the given CDDL definition fails. As it looks like there is a problem with the optional occurrence indicator (including `*`, `+` as well) because removing it will succeed the validation.

[code]

[code]

The visible failure:
[code]

Removing the question mark it succeeds:
[code]

[2022-09-30 08:05] whimboo opened #140 "Misleading error messages when validating JSON data"
Invalid JSON data that eg. contains a wrong type for the value within a subtype of the CDDL definition the error message as printed is misleading. If doable it should be bound to the nearest possible CDDL type definition.

Take the following example:
[code]

[code]

The failure as shown is the following:
[code]

By reading the error output it's not clear that `bar-command` was actually send and th

[2022-10-03 14:16] anweiss commented on #139
Thanks for reporting @whimboo. Oversight on my part when implementing https://github.com/anweiss/cddl/pull/138.

[2022-10-03 16:18] #139 closed

[2022-10-03 16:57] anweiss commented on #140
@whimboo this is actually working as expected. Per https://www.rfc-editor.org/rfc/rfc8610#section-2.2.4, the first type rule is used as the root type for validating a document. In this case, the root type is `CommandFoo` and not the `Command` group. So the `{ "method": "bar-command", "params": 2 }` JSON is invalid because it's expecting the `method` entry to be of value `"foo-command"` and the `pa

[2022-10-03 16:58] anweiss commented on #140
To your point, though, this can definitely be made more clear by identifying the root type used for validating the document in the error message.

[2022-10-04 06:56] whimboo commented on #139
You are welcome. Interesting for me is that #138 landed post 0.9.0 right and I can see the issue with that given release.

[2022-10-04 13:11] whimboo commented on #140
I see, but adding a specific new root doesn't change that:

[code]

Given that I don't know how selection of the right group entry should happen (might have to read the RFC in detail) I wonder if specific entries could be considered with a higher priority eg, the one that is listed at the top, or those that have a fixed value set. With the latter option `CommandBar` would only be chosen given that

[2022-10-04 14:06] anweiss commented on #140
Even so, in this example, validation will still fail because it's going to attempt to validate both the `CommandFoo` and `CommandBar` group choices, neither of which match the `{ "method": "bar-command", "params": 2 }` JSON. Per https://www.rfc-editor.org/rfc/rfc8610#section-2.2.2, `//` binds more weakly than other CDDL operators, thus the validation is implemented such that all group choices will

[2022-10-04 20:48] whimboo opened #145 "Unexpected linter failure in VSCode for range definition: expected rule identifier followed by an assignment token '=', "/=" or "//=""
When having the following definition on its own the plugin shows a linting failure as given in the summary:

[code]

But when I add the following it's all fine.

[code]

It's not clear to me why the first example is actually broken.

[2022-10-04 20:53] whimboo commented on #145
Note that the above definitions come from https://www.rfc-editor.org/rfc/rfc8610#appendix-E.

[2022-10-14 14:42] itamarst opened #146 "Warning when compiling with rustc 1.61 (or later, probably)"
[code]

The same warning occurs multiple times for the same code pattern used elsewhere.

[2022-10-14 15:13] itamarst opened #148 "Regression: failure to validate CBOR in zero-occurrence case (JSON works fine)"
Consider this schema:

[code]

You can have zero labels, which validates fine as JSON:

[code]

Or one label, also validates fine as JSON:

[code]

When generating CBOR with Python's `cbor2` for equivalent CBOR serializations, `one.cbor` validates just fine. `zero.cbor` fails to validate, however:

[code]

CBOR files are in following zip:

[cbor.zip](https://github.com/anweiss/cddl/files/9787665/c

[2022-10-14 15:21] itamarst commented on #148
Changing the schema to:

[code]

fixes it, as a workaround (and suggestion for what the bug is).

[2022-10-14 16:56] anweiss commented on #146
See https://github.com/rust-lang/rust/issues/59159. I believe this warning went away with 1.62.0

[2022-10-14 17:00] anweiss commented on #148
Thanks @itamarst. I see the issue. Will push up a fix.

[2022-10-14 17:47] #148 closed

[2022-10-14 23:55] #146 closed

[2022-10-19 15:47] anweiss opened #150 "Parent node visitor"
Track parent pointers for all AST types

[2022-10-19 15:50] anweiss opened #151 "CSV validation"
Tracking https://datatracker.ietf.org/doc/draft-bormann-cbor-cddl-csv/

[2022-10-19 20:30] anweiss commented on #145
Did a bit of digging here and the actual error under the hood is as follows:

[code]

... which seems to be due to the way wasm-bindgen is parsing the 9007199254740991 into a `usize`. For whatever reason it thinks it's too big.

[2022-10-20 13:26] #145 closed

[2022-10-20 13:28] anweiss commented on #140
Hey @whimboo ... https://github.com/anweiss/cddl/pull/143 was merged which identifies the root type used during validation. Going to close this. Feel free to re-open if you still have some concerns. Thanks

[2022-10-20 13:28] #140 closed

[2022-10-24 16:52] carl-wallace opened #154 "Whitespace in groups"
I was failing to validate a large CDDL file that looked like it ought work and distilled the issue down to this pattern:

[code]

The resulting error for the above was this:

[code]

However, removing the new line clears the error.

[code]

So does using a ":" instead of "=>". Additionally, when a colon is used, a newline does not cause an error.

[code]
Or:
[code]

It looks to me that the issue i

[2022-10-25 16:52] #154 closed

[2022-10-26 13:17] #150 closed

[2022-10-27 15:51] #122 closed

[2022-10-27 15:52] anweiss commented on #90
Thanks @Anrock for reporting this. Putting this in the backlog until https://github.com/enarx/ciborium/issues/60 is looked at.

[2022-11-02 12:37] itamarst opened #158 "Tweak did test to make it easier to write validation tests"
It would be nice to have a test that generalizes and simplifies the `did` test, where given a particular directory structure of CDDL/valid CBOR/invalid CBOR it does validations and ensures they succeed/fail respectively.

Hardcoding bad file names, in particular, doesn't scale.

E.g. one could have files to validate that start with either "good-" or "bad-":

[code]

(Also it's unclear to me what `

[2022-11-05 21:48] letmaik opened #159 "VS Code: Support fenced cddl code block syntax highlighting"
Reference: https://github.com/mjbvz/vscode-fenced-code-block-grammar-injection-example

I tend to embed CDDL in markdown files, and while GitHub doesn't support it at the moment, I think it would be a good start if this extension adds support for it. Then eventually it could be added to https://github.com/github/linguist.